* {
    box-sizing: border-box;
    font-family: 'Arial,Helvetica,sans-serif';
}

#header-text span::before {
    content: '';
    height: 2px;
    width: 6%;
    background: #ffac00;
    position: absolute;
    top: 46%;
    left: 0;
}

.services-hero {
    position: absolute;
    margin-top: -520px;
    color: white;
    font-weight: bolder;
    z-index: 1;
    margin-right: 0px;
}

#header-tape p {
    margin-bottom: 0;
}

#header-tape p,
#header-tape span {
    font-size: 18px;
}

.bl {
    position: absolute;
    background-color: #3A6AFD;
    width: 8px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
}

.tape {
    position: relative;
    padding-left: 8%;
    padding-top: 9%;
}

#environment {
    background-image: url("/static/pictures/about-2.webp");
    color: #fff;
}

#production-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    width: 170px;
    height: 54px;
    border-radius: 0px 0px 10px 10px;
}

#production-header span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    font-family: 'montserrat, sans-serif';
}

#about-header,
#project-header,
#offer-header,
#technologies-header,
#environment-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 350px;
    height: 54px;
    border-radius: 0px 0px 10px 10px;
}

#about-us-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 350px;
    height: 54px;
    border-radius: 10px 10px 0px 0px;
}

#about-header {
    padding-left: 12px;
}

#about-header span,
#project-header span,
#offer-header span,
#technologies-header span,
#environment-header span,
#about-us-header span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
}

#projects {
    background-image: url("/static/pictures/projects.webp");
    color: #fff;
}

.projects-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    margin-bottom: 3rem;
}

.projects-icon i {
    font-size: x-large;
}

#projects p {
    font-size: 26px;
    letter-spacing: normal;
    line-height: 1.4em;
}

#projects span {
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0em;
}

#offer {
    background-color: #00060F;
}

#offer-pictures div {
    text-align: center;
    padding-top: 20px;
}

#offer-pictures div span {
    font-size: 26px;
    color: #fff;
    text-align: center;
}

#see-catalog {
    display: flex;
    justify-content: center;
    margin: 55px auto;
}

#see-catalog button {
    padding: 0.75rem 1.75rem;
}

#technologies {
    background-color: #242834;
}

.tape-technoloies {
    position: relative;
    padding-left: 8%;
    padding-top: 5%;
    color: #fff;
}

.technologies-bl {
    position: absolute;
    background-color: #3A6AFD;
    width: 8px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}

.about-bl {
    position: absolute;
    background-color: #3A6AFD;
    width: 8px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.technologies-pic img {
    border-radius: 10px 10px 10px 10px;
}

.tech-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 50% 50%;
}

#laboratory {
    background-color: #00060F;
}

.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable > .row > .col{
    display: inline-block;
}

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}

#services {
    background-image: url("/static/pictures/services.webp");
    color: #fff;
}

#services h2 {
    font-size: 40px;
    letter-spacing: normal;
    line-height: normal;
}

.accordion,
.accordion-item,
.accordion-button,
.accordion-button:not(.collapsed) {
    background: transparent;
    color: #fff;
}

.accordion-item {
    border: 0;
}

.accordion-header button {
    font-weight: bold;
    font-size: 14px;
}

#about-page,
#about-us-tape,
#contact-page {
    background-color: #00060F;
    color: #fff;
}

#contact-page {
    background-image: url("/static/pictures/contact2.webp");
}

#contact-page h1 {
    font-size: 40px;
    letter-spacing: normal;
    line-height: normal;
}

#contact-page p {
    line-height: 1.6em;
    font-size: 18px;
    letter-spacing: normal;
}


#about-page-inner,
#services-inner,
#production-inner {
    background-color: #242834;
}

.services-text {
    min-height: 430px;
}

#services-inner h2 {
    letter-spacing: normal;
    line-height: 1.4em;
    font-size: 26px;
    font-family: 'montserrat', sans-serif;
}

#services-inner span {
    font-size: 18px;
    letter-spacing: 0em;
}

.btn-services {
    border-radius: 0;
}

.btn-submit {
    width: 135px;
    height: 50px;
}

.btn-quote,
.btn-materials {
    padding-top: 12px;
}

.btn-quote {
    width: 135px;
    height: 50px;
}

.btn-materials {
    width: 239px;
    height: 50px;
}

.tape-about-us {
    position: relative;
    padding-left: 8%;
    color: #fff;
}

.prodiction-img {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

#production-inner ul {
    padding-left: 0;
    list-style-type: none;
    list-style: none;
}

#production-inner ul li {
    letter-spacing: normal;
    font-size: 16px;
    line-height: normal;
    font-family: 'montserrat, sans-serif';
    font-weight: bold;
}

#production-inner hr {
    margin: 8px 0;
}

#contact-form {
    background-color: #fff;
    color: #000;
}

#footer {
    background-color: #242834;
    color: #fff;
}

#footer h2 {
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: bold;
}

#footer ul {
    padding-left: 0rem;
    list-style-type: none;
    list-style: none;
}

.about-content {
    position: absolute;
    margin-top: -700px;
    z-index: 1;
    color: #fff;
    margin-right: 0px;
}

/* Small Devices Only */
@media (max-width: 768px) {
    #header-text h1 {
        line-height: 1em;
        font-size: 32px;
        letter-spacing: normal;
    }

    .hero-1 {
        position: absolute;
        padding-top: 20%;
        color: white;
        font-weight: bolder;
        z-index: 1;
    }

    #header-tape {
        height: 100%;
        width: 100%;
        background-color: rgb(36, 40, 52);
    }

    #about {
        background-image: url("/static/pictures/photoroom-sm.webp");
        color: #fff;
        width: 320px;
        height: 901px;
        object-fit: cover;
        object-position: 50% 50%;
        margin-top: 95%;
    }

    .about-picture {
        width: 280px;
        height: 117px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    #header-text span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        letter-spacing: 1px;
        margin-top: 80px;
    }
}

/* Large screen styles */
@media (min-width: 992px) {
    #header-text span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding-left: 62px;
        position: relative;
        letter-spacing: 1px;
        margin-top: 80px;
    }

    #header-text h1 {
        line-height: 1em;
        font-size: 80px;
        letter-spacing: 1px;
    }

    .hero-1 {
        position: absolute;
        margin-top: -620px;
        color: white;
        font-weight: bolder;
        z-index: 1;
        margin-right: 0px;
    }

    #about {
        background-image: url("/static/pictures/about4.webp");
        color: #fff;
        width: 1277px;
        height: 995px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    
    #about img {
        width: 774px;
        height: 323px;
        object-fit: cover;
    }

    #header-tape {
        height: 145px;
        width: 1077px;
        background-color: rgb(36, 40, 52);
    }
}
