{% extends 'oasis/base.html' %}
{% load static %}

{% block content %}

    <!--Who we are section STARTS-->    
    <section id="about-page">
        <div class="container">
            <div class="col-lg-12">
                <h1>Who We Are</h1>
            </div>

            <div class="container" id="about-page-inner">
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            LLC Sochi-Neft Refinery is one of the largest independent oil and gas producers in Russia. Sochi-Neft and its affiliated companies (Sochi-Neft Group) are engaged in the geological study, exploration and production of hydrocarbons in Krasnodar region, the Republic's of Caucasian region. 
                        </p>

                        <span>
                            Each year, Sochi-Neft grows its exploration and production volumes, implements advanced technologies to enhance oil recovery, refines its HSE policy. The Sochi-Neft Group pays serious attention to effective management of internal corporate processes and personnel development, as well as interaction with governmental and non-governmental organizations.  
                        </span>
                        
                        <span>
                            Sochi-Neft Refinery, the main operating company of the Sochi-Neft Group, leads among small and medium-sized independent oil and gas producing companies in Russia. Sochi-Neft continues to strengthen its position in the country's oil and gas industry, relying on high technologies and a motivated team of professionals.
                        </span>
                    </div>

                    <div class="col-lg-6">
                        <img src="{% static 'pictures/about1.webp' %}" class="d-block" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Who we are section ENDS--> 

    <!--Environment section STARTS-->
    <section id="environment" class="pb-5">
        <div class="container">
          <div class="row">
            <div class="" id="environment-header">
              <span>Environment</span>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2>Hello WOrls</h2>
                </div>

                <div class="col-lg-10">
                    <p>
                        At the COP21 conference on climate in Paris, the global community expressed its commitment to the reduction of harmful emissions into the atmosphere. Together with renewable energy sources, natural gas, being an environmentally friendly fuel, can play a significant role in the development of low-carbon economy of the future, and in achievement of targets stipulated at COP21.
                    </p>

                    <p>
                        The substitution of coal by natural gas in power generation can significantly reduce greenhouse gas emissions (“carbon footprint”) and pollutant emissions (“toxic footprint”): nitrogen oxides - by up to 32%, sulfur dioxide - by up to 99%, carbon monoxide - by up to 68%, ash and soot - by up to 100%, carbon dioxide - by up to 50%. In many regions of the world, use of gas can prevent smoke fog and impact positively on the environment and people's health.
                    </p>

                    <p>
                        Natural gas can become a basis for the future low-carbon energy. LLC Sochi-Neft Refinery already performs practical projects to develop innovative technologies to product methane hydrogen mixes and hydrogen from natural gas without carbon dioxide emissions. 
                    </p>

                    <p>
                        Gasification of transport also offers good opportunities. It is estimated that using gas as  motor fuel can reduce greenhouse gas emissions by 25-30% in comparison with petrol and diesel fuel. “Toxic footprint” of NGV for the whole production chain is three times smaller than by petrol-engine cars, and five times smaller than by diesel ones. More detailed information is in Gas Motor Fuel Section.
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="" id="about-us-header">
                      <span>About Us</span>
                    </div>
                </div>

                <div class="row pb-3" id="about-us-tape">
                    <div class="col-lg-4 pt-2 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us">
                            <div>
                                <h2>Regions Of Operation</h2>
                            </div>
                            
                            <div>
                                <span>
                                    The Sochi-Neft LLC Group of Companies comprises more than 70 production, refining and sales subsidiaries throughout Russia, the CIS, and abroad. As at 31 December 2018 Sochi-Neft LLC's total hydrocarbon proved and probable (2P) reserves (SPE-PRMS standards), including shares in production at joint enterprises, stood at 2.84 billion tonnes of oil equivalent (btoe).
                                </span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 pt-2 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us">
                            <div>
                                <h2>Processing and Sales</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Sochi-Neft LLC exports to more than 50 countries worldwide, as well as selling its products throughout Russia and abroad through its own extensive retail network.
                                </span>

                                <span>
                                    Sochi-Neft LLC operates throughout Russia’s most important oil and gas regions, including the Krasnodar and Caucasus region, and in the Tomsk, Omsk and Orenburg Oblasts. 
                                </span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 pt-2 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us">
                            <div>
                                <h2>Strategic Goals</h2>
                            </div>
                            
                            <div>
                                <span>
                                    The company is building its strategy around technological development, implementing cutting-edge solutions to achieve its long-term goals. We aim to become a major international player with a regionally diversified asset portfolio across the whole value chain, actively contributing to regional development and demonstrating high standards of social and environmental responsibility.
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!--Environment section ENDS-->






{% endblock %}