{% extends 'oasis/base.html' %}
{% load static %}

{% block content %}

    <!--Jumbotron slider section STARTS-->
    <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'pictures/slide-1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'pictures/slide-2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'pictures/slide-3.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    
    <div id="carouselExampleIndicators" class="carousel slide d-block d-sm-none" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'pictures/slide-1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'pictures/slide-2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'pictures/slide-3.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  <!--Jumbotron slider section ENDS-->

    <!--Header text section STARTS-->
    <div class="container" id="jumbotron">
      <div class="row hero-1">
        <div class="col-lg-8 col-12" id="header-text">
          <div>
            <span class="white">Welcome To</span>
            <h1>OASIS PETROLEUM LLC</h1>
            <p>General Trading &amp; Contracting Company </p>
          </div>
          
          <div class="d-none d-lg-block">
            <a href="#" class="btn btn-quote btn-primary rounded-pill" style="margin-right: 20px;" role="button">Get a Quote</a>
            <a href="#" class="btn btn-materials btn-dark rounded-pill" role="button">View Materials Catalog</a>
          </div>

          <div class="d-lg-none mb-3">
            <a href="#" class="btn btn-quote btn-primary rounded-pill" style="margin-right: 20px;" role="button">Get a Quote</a>
          </div>
          <div class="d-lg-none">
            <a href="#" class="btn btn-materials btn-dark rounded-pill" role="button">View Materials Catalog</a>
          </div>
        </div>

         <div class="row my-5 pb-3" id="header-tape">
            <div class="col-lg-3 col-12 pt-3">
              <div class="bl"></div>
              <div class="tape">
                <p>98%</p>
                <span>PROCESSING DEPTH</span>
              </div>
            </div>
            <div class="col-lg-3 col-12 pt-3">
              <div class="bl"></div>
              <div class="tape">
                <p>Euro-5</p>
                <span>DIESEL FUEL</span>
              </div>
            </div>
            <div class="col-lg-3 col-12 pt-3">
              <div class="bl"></div>
              <div class="tape">
                <p>Euro-5</p>
                <span>GASOLINE</span>
              </div>
            </div>
            <div class="col-lg-3 col-12 pt-3">
              <div class="bl"></div>
              <div class="tape">
                <p></p>
                <span>JET FUEL</span>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--Header text section ENDS-->


    <section>
      <img src="{% static 'pictures/about4.webp' %}" class="d-block" style="width: 1277px; height: 700px; object-fit: cover; object-position: 50% 50%;"  alt="...">
    </section>

    <section>
      <div class="container">
        <div class="row about-content">
          <div class="col-lg-10">
            <div class="" id="about-header">
              <span>About the Company</span>
            </div>

            <img src="{% static 'pictures/photoroom.webp' %}" class="d-block about-picture" alt="...">

            <p>Oasis Petroleum LLC is an industrious U.S oil and gas production company with a premier Williston Basin acreage position. Led by a management team with extensive industry experience, Oasis Petroleum acquires, exploits, develops and explores for crude oil, natural gas, and natural gas liquids, helping to supply the energy that powers and improves daily life around the world.</p>

            <p>As a top-tier operator, we create value for our team members, and positive impacts in our communities with a commitment to excellence and a continious improvement approach. Innovation, collaboration, diverse views, and teamwork inform every area of our purpose-driven wirk that puts the safety and well-being of people and the environment first.</p>
          </div> 
        </div>
      </div>
    </section>

    <!--Projects section STARTS-->
    <section id="projects">
      <div class="container">
        <div class="row">
          <div class="" id="project-header">
            <span>Our Projects</span>
          </div>

          <div class="col-lg-10 pt-5">
            <div class="row">
              <div class="col-lg-6">
                <div class="projects-icon border border-light">
                  <i class="fas fa-microchip"></i>
                </div>
                <p>Technology</p>
                <span>
                  We Deliver State-Of-The Art Manufacturing Process Technologies, Catalysts And Technical Services To Bring Consistent Value To Our Customers.
                </span>
              </div>

              <div class="col-lg-6">
                <div class="projects-icon border border-light">
                  <i class="fas fa-database"></i>
                </div>
                <p>Fuels</p>
                <span>Our company has a heavy high-Sulphur Crude oil processing caapacity of approximately 268,000 barrels per day. This fascility produces gasoline and fuel components, low-Sulphur diesel, jet fuel and lubricants</span>
              </div>

              <div class="col-lg-6 mt-2">
                <div class="projects-icon border border-light">
                  <i class="fas fa-cog"></i>
                </div>
                <p>Chemicals</p>
                <span>We Lead The Industry In Producing Basic Chemicals Including Ethylene, Propylene, Propylene Oxide, Ethylene Oxide, Tertiary Butyl Alcohol, Methanol, Acetic Acid And Their Derivatives.</span>
              </div>

              <div class="col-lg-6 mt-2">
                <div class="projects-icon border border-light">
                  <i class="fas fa-burn"></i>
                </div>
                <p>Energy and Power</p>
                <span>Oasis Petroleum LLC is involved in field development in remote, undeveloped regions, completely lacking any utilities infrastructure.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Projects section ENDS-->

    <!--Offer section STARTS-->
    <section id="offer">
      <div class="container">
        <div class="row">
          <div class="" id="offer-header">
            <span>What We Offer</span>
          </div>
        </div>

        <div class="row" id="offer-pictures">
          <div class="col-lg-4">
            <img src="{% static 'pictures/motorfuel.webp' %}" class="img-fluid" alt="">
            <div>
              <span>Motor Fuel</span>
            </div>    
          </div>

          <div class="col-lg-4">
            <img src="{% static 'pictures/bitumen.webp' %}" class="img-fluid" alt="">
            <div>
              <span>Bitumen Products</span>
            </div>    
          </div>

          <div class="col-lg-4">
            <img src="{% static 'pictures/lubricants.webp' %}" class="img-fluid" alt="">
            <div>
              <span>Lubricants</span>
            </div>    
          </div>

          <div class="col-lg-4">
            <img src="{% static 'pictures/aviation2.jpg' %}" class="img-fluid" alt="">
            <div>
              <span>Aviation Fuel</span>
            </div>    
          </div>

          <div class="col-lg-4">
            <img src="{% static 'pictures/lpgtank.webp' %}" class="img-fluid" alt="">
            <div>
              <span>LPG Tanks</span>
            </div>    
          </div>

          <div class="col-lg-4">
            <img src="{% static 'pictures/bunkering1.jpg' %}" class="img-fluid" alt="">
            <div>
              <span>Bunkering</span>
            </div>    
          </div>
          
        </div>

        <div class="row">
          <div class="col-lg-12" id="see-catalog">
            <button type="button" class="btn btn-primary rounded-pill">See Catalog</button>
          </div>
        </div>

      </div>
    </section>
    <!--Offer section ENDS-->

    <!--Technologies section STARTS-->
    <section id="technologies">
      <div class="container">
        <div class="row">
          <div class="" id="technologies-header">
            <span>Technologies</span>
          </div>
        </div>

      
        <div class="row pb-3" id="technologies-tape">
          <div class="col-lg-4 pt-2">
            <div class="technologies-bl"></div>
            <div class="tape-technoloies">
              <span>
                Our petroleum products are produced with high-quality performance and environmental characteristics, including motor fuels, aromatics, liquid paraffin, roofing and insulution materials e.t.c. Diesel fuel, jet fuel and bitumens produced by the meet international quality standards
              </span>
            </div>

            <div class="row mt-4">
              <div class="technologies-pic col-lg-3 pe-0">
                <img src="{% static 'pictures/oilrefining.webp' %}" class="tech-pic" alt="">
              </div>
              <div class="col-lg-9 ps-0 text-white pt-1">
                <p class="mb-0 fw-bold">OIL REFINING</p>
                <span>Oasis Petroleum LLC </span>
              </div>
            </div>

          </div>

          <div class="col-lg-4 pt-2">
            <div class="technologies-bl"></div>
            <div class="tape-technoloies">
              <span>
                Oasis Petroleum LLC pays special attention to the operating activity in gas production and transportation, its processing volume growth, and electricity generation increase at the Company's own power plants.
              </span>
            </div>

            <div class="row mt-4">
              <div class="technologies-pic col-lg-3 pe-0">
                <img src="{% static 'pictures/gasproduction.webp' %}" class="tech-pic" alt="">
              </div>
              <div class="col-lg-9 ps-0 text-white pt-1">
                <p class="mb-0 fw-bold">GAS PRODUCTION AND USE</p>
                <span>Oasis Petroleum LLC </span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 pt-2">
            <div class="technologies-bl"></div>
            <div class="tape-technoloies">
              <span>
                Strengthening and expanding the resource base in the company's strategic objectives. The sound resource base ensures the stability of production activities and the achievement of targeted hydrocarbon production volumes.
              </span>
            </div>

            <div class="row mt-4">
              <div class="technologies-pic col-lg-3 pe-0">
                <img src="{% static 'pictures/exploration.webp' %}" class="tech-pic" alt="">
              </div>
              <div class="col-lg-9 ps-0 text-white pt-1">
                <p class="mb-0 fw-bold">EXPLORATION AND PRODUCTION</p>
                <span>Oasis Petroleum LLC </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Technologies section STARTS-->

    <!--Laboratory section STARTS-->
    <section id="laboratory" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-11 col-12 text-white mx-5 my-5 text-center">
            <h2 class="fw-bold">Laboratory</h2>
          </div>
        </div>
      </div>
  
      <div class="container horizontal-scrollable">
        <div class="row flex-nowrap">
          <div class="col-lg-3 col-12">
            <img src="{% static 'pictures/lab-0.webp' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <img src="{% static 'pictures/lab-1.webp' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <img src="{% static 'pictures/lab-2.webp' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <img src="{% static 'pictures/lab-3.webp' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <img src="{% static 'pictures/lab-4.webp' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <img src="{% static 'pictures/lab-5.webp' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--Laboratory section ENDS-->
   
    <!--Services section STARTS-->
    <section id="services">
      <div class="container py-5 pb-5">
        <div class="row">
          <div class="col-lg-12">
            <h2>Services</h2>
          </div>

          <div class="col-lg-9">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Engineering
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>
                      Oasis Petroleum LLC performs the following activities in the field of engineering:
                    </p> 

                    <p>
                      Design: project management, development of conceptual design, feasibility study, basic and detail design, as built documentation, and field engineering
                    </p>
                    
                    <p>
                      Survey: geoinformation systems, topographic survey, geological studies, electrical measurement of soil parameters
                    </p>
                    
                    <p>
                      Engineering support: consulting, technical assessment, technical assumptions, cost estimation, supervision for compliance with the applicable requirements.
                    </p>
                    
                    <p>
                      Projects: Yugo-Zapadnaya power plant, offshore ice-resistant platform LSP-1 on the Korchagin oil and gas field, gasification facilities in Belarus, Irkutsk Region, Samara Region, power distribution facilities of the Kalinin nuclear power plant (unit 4), Gazelle gas pipeline (Czech Republic), Sheiba-Abqaiq oil pipeline (Saudi Arabia), gas processing plant -1 (Syria), East-West gas pipeline (India).
                    </p>
                  </div>
                </div>
              </div>
              <hr>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Procurement
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>
                      Oasis Petroleum LLC has considerable experience in the field of procurement, particularly in the delivery of process equipment for Russian and international projects.
                    </p> 

                    <p>
                      Sochi-Neft activity is based not only on its obligations to supply the up-to-date equipment in due time but also on establishment and further development of long-term partnership with the leading equipment suppliers.
                    </p>
                    
                    <p>
                      In 2013, Sochi-Neft entered into the strategic agreements on technical and commercial cooperation with Siemens Ltd. in the field of procurement of electric equipment and services for construction and overhaul of power grid facilities, as well as electric power generation facilities in Russia.
                    </p>
                    
                    <p>
                      Cooperation with the leading Russian manufacturers is actively encouraged as well. In 2013, Sochi-Neft singed memorandum of partnership with Taman Electromechanical Plant when implementing the projects of fuel and energy sector.
                    </p>
                  </div>
                </div>
              </div>
              <hr>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Construction
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>
                      Oasis Petroleum LLC has implemented over 70 projects in 19 countries for a period of 24 years.
                    </p>
                    
                    <p>
                      Within the period Sochi-Neft has built over 13000 km of pipelines nearly 4000 km of gas distribution networks and 50 gas compressor stations, reconstructed 19 gas compressor stations, developed 40 oil and gas fields.
                    </p>
                    
                    <p>
                      In the field of power transmission Sochi-Neft has constructed over 1500 km of overhead lines and substations for Unified Power System of Russia with total transformer capacity of 9000 MVA.
                    </p>
                    
                    <p>
                      In power generation Sochi-Neft has been involved in construction of five nuclear and power plants with total output of 3105 MW.
                    </p>
                    
                    <p>
                      The current priority of Sochi-Neft is to increase its competence in oil and gas, energy, industrial, civil and transport infrastructure construction, as well as to develop a new activity related to industrial ecology.
                    </p>
                  </div>
                </div>
              </div>
              <hr>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Project Management
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>
                      Acting as a general contractor, Sochi-Neft is involved not only in engineering process, delivery of products and materials, construction of facilities, but also in integrated project management. For this purpose, Sochi-Neft accumulates the best world practices and uses the most advance technologies in project management.
                    </p>
                   

                    <p>
                      In particular, the best solutions are obtained by Sochi-Neft under the memorandum of partnership with Atomenergoproekt and Vedeneev Russian National Hydraulic Engineering Research Institute (integrated in RusHydro) signed in 2012. The memorandum provides for set-up of joint centre of project management competences, a platform for exchange of knowledge and best practices in this field.
                    </p>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Services section ENDS-->

{% endblock %}