{% extends 'oasis/base.html' %}
{% load static %}

{% block content %}

<!--Top notch production scection STARTS-->
<section id="about-page">
    <div class="container pb-5">
        <div class="col-lg-8 py-5">
            <h1>We Keep Top Notch Production</h1>
            <p>Oasis Petroleum LLC is an integrated international energy company.</p>

            <span>The oil products we supply meet all international quality standards, have all the necessary certificates of conformity and meet the most stringent requirements. All this is possible thanks to the continuous improvement of working conditions, technologies, optimization of the production process, and equipment upgrades at our refineries. producing assets achieved maximum production levels since the beginning of their development.</span>
        </div>
        <div class="col-lg-4">

        </div>

        <div class="container" id="production-inner">
            <div class="row ">
                <div class="col-lg-4 px-5 border border-dark">
                    <div class="" id="production-header">
                        <span>Aviation Fuel</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/pro1.jpg' %}" class="prodiction-img" style="width: 275px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>
                            <li>Aviation kerosene JP54 Colonial Grade GOST 10227-86</li>
                            <hr>
                            <li>Aviation fuel Jet A1/Jet A</li>
                            <hr>
                            <li>Aviation fuel TS-1 GOST 10227-86</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 border border-dark">
                    <div class="" id="production-header">
                        <span>Motor Fuel</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/production1.webp' %}" class="prodiction-img" style="width: 282px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>
                            <li>Diesel fuel EN590 10, 15, 50, 500 ppm</li>  
                            <hr>
                            <li>Light Cycle Oil</li>
                            <hr>
                            <li>Gasoil Diesel D2 L0.02/62 GOST 305-82</li>
                            <hr>
                            <li>Virgin Fuel Oil D6</li>
                            <hr>
                            <li>Gasoline Fuel</li>
                            <hr>
                            <li>Automotive Gas Oil</li>
                            <hr>
                            <li>Fuel Oil Mazut M40</li>
                            <hr>
                            <li>Fuel Oil Mazut M100/13-75-99</li>
                            <hr>
                            <li>Fuel Oil CST 180,280,380</li>
                            <hr>
                            <li>Furnace oil</li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-4 border border-dark">
                    <div class="" id="production-header">
                        <span>Lubricants</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/production2.webp' %}" class="prodiction-img" style="width: 282px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>
                            <li>40 BN SAE 50</li>  
                            <hr>
                            <li>17 BN SAE 50</li>
                            <hr>
                            <li>70 BN SAE 50</li>
                            <hr>
                            <li>Virgin Fuel Oil D6</li>
                            <hr>
                            <li>7 BN SAE 30</li>
                            <hr>
                            <li>40 BN SAE 40</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 border border-dark">
                    <div class="" id="production-header">
                        <span>Bitumen</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/production3.webp' %}" class="prodiction-img" style="width: 282px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>      
                            <li>Bitumen Alsphat and Petroleum</li>  
                            <hr>
                            <li>Bitumen Grades-40/50</li>
                            <hr>
                            <li>Bitumen Grades- 60/70</li>
                            <hr>
                            <li>Bitumen Grades -80/100</li>
                            <hr>
                            <li>Gasoline 98 Octanes</li>
                            <hr>
                            <li>Gasoline Ron-92</li>
                            <hr>

                            <li>Petroleum Commodities</li>
                            <hr>
                            <li>Petcoke</li>
                            <hr>
                            <li>Cst-180 Fuel Oil</li>
                            <hr>
                            <li>LNG (Liquefeid Natural Gas)</li>
                            <hr>
                            <li>Urea (46% Agricultural Grade)</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 border border-dark">
                    <div class="" id="production-header">
                        <span>Bunkering</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/pro2.jpg' %}" class="prodiction-img" style="width: 282px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>          
                            <li>Exploration</li>  
                            <hr>
                            <li>Drilling</li>
                            <hr>
                            <li>Oil Refining</li>
                            <hr>
                            <li>Energy And Power</li>
                            <hr>
                            <li>Bunkering</li>
                            <hr>
                            <li>Petcoke</li>
                            <hr>
                            <li>Industrial And Occupational Safety </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 border border-dark">
                    <div class="" id="production-header">
                        <span>High technology oils</span>
                    </div>

                    <div class="prodiction-img pt-3">
                        <img src="{% static 'pictures/production5.webp' %}" class="prodiction-img" style="width: 282px; height: 175px; object-fit: cover;" alt="">
                    </div>

                    <div class="pt-5">
                        <ul>      
                            <li>LNG GOST 5542-87 </li>  
                            <hr>
                            <li>LPG GOST 50994-96</li>
                            <hr>
                            <li>LIGHT CYCLE OIL</li>
                            <hr>
                            <li>CST-180 FUEL OIL</li>
                            <hr>
                            <li>CST-380 FUEL OIL</li>
                            <hr>
                            <li>CRUDE OIL ESPO GOST 21534-75</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Top notch production scection ENDS-->

{% endblock %}