{% extends 'oasis/base.html' %}
{% load static %}

{% block content %}

    <!--Technologies section STARTS-->    
    <section id="about-page">
        <div class="container pb-5">
            <div class="col-lg-12 py-5">
                <h1>Technologies</h1>
            </div>

            <div class="container" id="services-inner">  
                <div class="row pb-3">
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl "></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Oil Refining</h2>
                            </div>
                            
                            <div>
                                <span>
                                    As we all know from school chemistry classes, gasoline is a product of oil distillation. But straight-run distilled gasoline has a very low octane rating at about 50 or 60 — and efficiency at that level, obviously, is very low, with a gasoline yield of about 20 percent. Which is why gasoline production these days involves far more effective secondary processing — involving catalytic cracking and reforming.
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
               
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Exploration</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Tank Oil Impex SRL is continuously developing its employee training program in industrial, environmental, and occupational safety. Contractors are also involved in the Company's training program.
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Drilling</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Our Company utilizes and makes possible the construction of extreme-reach wells and the high-precision drilling of wells in low-concentration reservoirs (one to two meters thick). The structure of high-technology wells demands a range of specialist equipment. These days, the basis for modern, effective, precise, and safe drilling lies in rotary steerable systems (RSS).

                                    The construction of high-technology wells demands a range of specialist equipment. The basis for modern, effective, precise and safe drilling these days lies in rotary steerable systems (RSS).
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
               
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Energy and Power</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Tank Oil Impex SRL is involved in field development in remote, undeveloped regions, completely lacking any utilities infrastructure.
                                    Under such conditions the question of supplying power to field assets becomes imperative — the key response to which lies in the construction of gas-turbine power plants (GTPPs), thus also addressing the question of effective APG utilisation, used as fuel in independent power generation.
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
               
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Bunkering</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Tank Oil Impex SRL Marine Bunker is a leader in the USA bunkering market. Total annual sales of marine fuel reached over 3.924 million tonnes. Oasis LLC Marine Bunker is a member of the Netherlands Association of Sea and River Fuelers. Oasis Petroleum Marine Bunker guarantees high-quality, year-round supplies of oil products, including fuel oil, and marine fuel, to shipowners and charterers in all key marine and river ports.
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
               
                    <div class="col-lg-6 border border-dark h-100 pt-5 px-5">
                        <div class="about-bl"></div>
                        <div class="tape-about-us services-text">
                            <div>
                                <h2>Environment &amp; Safety</h2>
                            </div>
                            
                            <div>
                                <span>
                                    Oasis Petroleum strictly monitors compliance with safety rules at work. While ensuring safe working conditions and protecting the health of personnel and the communities in the areas of the company's activity, as well as maintaining a favorable environment through the use of the best available technologies.
                                </span>
                            </div>

                            <div class="pt-3">
                                <button type="button" class="btn btn-lg btn-light btn-services">Learn more</button>
                            </div>
                            
                        </div>
                    </div>
               

                   
                </div>
            </div>
        </div>
    </section>
    <!--Technologies section ENDS--> 

    <!--Integrated section STARTS-->
    <video autoplay muted loop id="myVideo" style="width: 1277px;">
        <source src="{% static 'videos/services.mp4' %}" type="video/mp4">
    </video>

    <section>
        <div class="container">
            <div class="row services-hero">
                <div class="col-lg-12 px-5">
                    <h2>Tank Oil Impex SRL is an integrated international energy company.</h2>
                    <p>Based in Russia, we have oil and gas assets and interests in more than 30 countries in Africa, America, the Middle East, Asia-Pacific, and other regions.</p>
                    <p>Tank Oil Impex SRL is one of the leading oil and gas producers and suppliers, as well as one of the world's major oilfield service providers and a globally reputed contractor in engineering construction, with businesses covering petroleum exploration & production, natural gas & pipelines, refining & marketing, oilfield services, engineering construction, petroleum equipment manufacturing and new energy development, as well as capital management, finance, and insurance.</p>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary rounded-pill" role="button">Get a Quote</a>
                </div>
            </div>
        </div>
    </section>
    <!--Integrated section ENDS-->



    
    



{% endblock %}